* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#SelectCity,
#Home {
  height: 100%;
}

ul,
li {
  list-style: none;
}

.el-header,
.el-footer {
  background-color: #ffffff;
  color: #333;
  text-align: center;
  line-height: 50px;
  margin: 0;
  padding: 0;
}
.el-footer {
  border-top: 1px solid #dfe6e9;
}
